<div class="page-header">
	<h1> Survey <%= @survey.name  %></h1>
</div>

<%= form_for [@survey, @answer] , :html => { :class => 'form-horizontal survey_form' } do |f| %>

<% @survey.questions.each do |question| %>
<div class="control-group">
	<%= f.label :name, question.name , :class => 'control-label' %>
	<div class="controls">
		<%= get_field_tag(question) %>
		<%#= f.text_field :name, :class => 'text_field' %>
		<label id="survey[<%= question.id %>][]-error" class="error" for="survey[<%= question.id %>][]"> </label>
	</div>
</div>
<% end %>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to "Cancel",surveys_path, :class => 'btn' %>
</div>
<% end %>