<!DOCTYPE html>
<html>
<head>
  <title>SurveyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <div class="navbar navbar-inverse navbar-fixed-top index">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Survey</a>
      <div style="nav-collapse collapse"> 
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li> <%= link_to "Sign Out", destroy_user_session_path , method: :delete %> </li>
          <% else %>
          <li>  <%= link_to "Sign In", new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container main-container-survey" >
  <div class="row">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</div> 

<footer id="footer">
  <a id="gototop" class="gototop" href="#"><i class="icon-angle-up"></i></a>
</footer>

</body>
</html>
