<!DOCTYPE html>
<html>
<head>
  <title>SurveyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <header class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Survey</a>
    <div style="float:right;"> 
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path , method: :delete %>
      <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>
  </div>
</header>

<div class="container" >
  <div class="row">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</div> 

<footer id="footer">
</footer>

</body>
</html>
